@import './variables.scss';
@import './sidebar.scss';
@import './element-ui.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#app{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
}
