#app {
    .el-aside {
        .el-scrollbar {
            height: 100%;

            .el-scrollbar__wrap {
                overflow-x: hidden;
            }
        }

        .el-menu {
            background-color: $menuBg;
            border: none;
            height: 100%;
            width: 100% !important;
        }

        .el-menu.scollbarMenu {
            a.router-link-active li {
                background-color: #21a1a0;
            }

            .icon,
            .title {
                color: $menuText;
            }

            .title {
                padding: 0 5px;
            }

            &>div:hover>a>li {
                background-color: $menuHover;
            }

            // submenu
            &>div>li .el-submenu__title:hover {
                background-color: $subMenuHover;
            }

            ul.el-menu>div:hover .el-menu-item {
                background-color: $menuHover;
            }
        }

    }
}